@model UserGroupListPartEditViewModel

<nav class="admin-toolbar">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUserGroupItems">
        @T["Add UserGroup Item"]
    </button>
</nav>

<div>
    <ul id="users">
        @foreach (var user in Model.SelectedUsers)
        {
            <li class="list-group-item">
                <div class="custom-control custom-checkbox float-left">
                    <input type="checkbox" class="custom-control-input" value="41" name="itemIds" id="itemIds-41">
                    <label class="custom-control-label" for="itemIds-41"></label>
                </div>

                <div class="header">
                    <h5 class="float-left">@user.GroupUser.Username<span class="hint"> — @user.GroupUser.Email</span></h5>
                </div>
            </li>
        }
    </ol>
</div>
